<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Web Page</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
   {{>header}}
    <p>Use this site to get your Weather</p>
    <p id="messageone"></p>
    <p id="messagetwo"></p>
    <form>
        <input type="text" placeholder="location">
        <button>search</button>
    </form>
    {{>footer}}
</body>
<script src="./js/app.js"></script>
</html>